.full-width {
    width:  100%;
}

.columns {
    display: inline-block;
    border: 1px solid white;
    width:58px;
    height:58px;
    text-align: center;
    padding: 13px 0;
}

.code {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    padding: 1.3rem;
    
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.rows {
    transition: color 1s ease-in;
}

.input {
    margin-bottom: 20px;
}

.output {
    margin-bottom: 20px;
}