.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    text-align: left;
  }

  .graphical-output {
    display: inline-block;
    vertical-align: center;
    margin-left: 40px;    
  }

  .graphical-output img{
      max-width: 100%;
      margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }