.hamburger-menu {
    height: 100%;
    background: white;
    box-shadow: 1px 0 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.hamburger-menu.open {
    transform: translateX(0);
    
}

.hamburger-menu ul {
    height:100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger-menu li {
    margin: 0.5rem 0;
    
}

.hamburger-menu a {
    color: #6d6d6d;
    font-size:  1.2rem;
    text-decoration: none;
}

.hamburger-menu a:hover {
    color: black;
}

@media (mid-width:769px) {
    .hamburger-menu {
        display: none;
    }
}