.user-input {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: left;
    max-width: 90%;
}

.user-input form {
    max-width: 350px;
}

.user-input h4{
    border-bottom: 1px solid white;
}

.user-input_form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.results-table{
    margin-top: 40px;
}

#Table {
    max-width: 100%;
    overflow-x: scroll;
    margin-top: 30px;
}

.submit {
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 4px;
    border: none;
    background-color: #61DBFB;
    color: white;
    padding: 0 22px;
    font-weight: 700;
    text-align: center;
    height: 40px;
}

.delete {
    background-color: #E41C34;
}

.add {
    background-color: teal;
}


