.resume {
    text-align: left;
    margin: 60px 45px 0px 45px;
    max-width: 60rem;
    font-size: 1.3rem;
    
}

h1 {
    text-decoration: underline;
}

h3.margin{
    margin-top: 45px;
}
.resume a {
    text-decoration: none;
    color: white;
    border-bottom: 1px dashed #61DBFB;
}

.resume a:hover {
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
}

.download-icon {
    margin-left: 15px;
}

ul.awards li {
    margin-top: 10px;
}

ul.awards a{
    text-decoration: none;
    color:white;
    border-bottom: 1px dashed #61DBFB;
}

h4 {
    font-weight: 500;
}