.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #20232a;
    height: 56px;
    display: inline-block !important;
}

.navbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.App-logo.nav {
    height: 80%;
    pointer-events: none;
    text-align: left;
    display: flex;
  }

.navbar-logo  {
    height: 100%;
    display:flex;
    align-items: center;
}

.navbar-logo a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left:20px;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.navbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_navigation-items li {
    padding: 0 1.4rem;
}

.navbar__navigation a{
    color: white;
    text-decoration: none;
    transition: color 130ms ease;
}

.navbar__navigation a:hover {
    text-decoration: none;
    color: #61DBFB;
}

@media (max-width: 768px) {
    .navbar_navigation-items {
        display: none;
    }

    .App-logo.nav {
        display: none;
    }
}